/out/production/Desktop/TypyObiektoweRef.class
/out/production/Desktop/CustomScanner.class
/out/production/Desktop/HelloWorld.class
/out/production/Desktop/InkrementacjaDekrementacja.class
/out/production/Desktop/OperatoryMatematyczne.class
/out/production/Desktop/TypyObiektowe.class
/out/production/Desktop/TypyProste.class
/.idea/uiDesigner.xml
/out/production/Desktop/Zmienne.class
